<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="buttonstyle.css">
    <title>ボタン</title>
</head>

<body>
    <form action="" method="GET">
        <input type="submit" class="answer" id="one" value="のぐちりょうた">
        <input type="submit" class="answer" id="two" value="遊牧民">
        <input type="submit" class="answer" id="three" value="モンゴブリン">
        <input type="submit" class="answer" id="four" value="ダンブルドア">
    </form>
</body>

</html>