{% extends 'base.html' %}
{% block body %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'buttonstyle.css' %}">
    <title>ボタン</title>
</head>
<body>
    <p>{{question}}</p>
    <form action="{% url 'ans:answer1'%}" method="post">
        {% csrf_token %}
        <input type="submit" class="answer" value="{{choice_1}}" id="one"></button>
        <input type="submit" class="answer" value="{{choice_2}}" id="two"></button>
        <input type="submit" class="answer" value={{choice_3}} id="three"></button>
        <input type="submit" class="answer" value={{choice_4}} id="four"></button>
        <p>{{hint_1}}</p>
    </form>
</body>
{% endblock %}
</html>