<!DOCTYPE html>
<html lang="ja">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>入力フォーム</title>
</head>

<body>
    <form action="" method="POST">
        <div id="account">
            <table>
                <tr>
                    <td>名前:</td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>メールアドレス:</td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>パスワード:</td>
                    <td><input type="password"></td>
                </tr>
            </table>
        </div>
        <div id="foods">
            <table>
                <tr>
                    <td>
                        <label for="shrimp">えび</label>
                        <input type="checkbox" class="Allergy" id="shrimp" value="1">
                    </td>
                    <td>
                        <label for="crab">かに</label>
                        <input type="checkbox" class="Allergy" id="crab" value="2">
                    </td>
                    <td>
                        <label for="wheat">小麦</label>
                        <input type="checkbox" class="Allergy" id="wheat" value="3">
                    </td>
                    <td>
                        <label for="soba">そば</label>
                        <input type="checkbox" class="Allergy" id="soba" value="4">
                    </td>
                    <td>
                        <label for="egg">卵</label>
                        <input type="checkbox" class="Allergy" id="egg" value="5">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="milk">乳</label>
                        <input type="checkbox" class="Allergy" id="milk" value="6">
                    </td>
                    <td>
                        <label for="peanuts">落花生</label>
                        <input type="checkbox" class="Allergy" id="peanuts" value="7">
                    </td>
                    <td>
                        <label for="awabi">アワビ</label>
                        <input type="checkbox" class="Allergy" id="awabi" value="8">
                    </td>
                    <td>
                        <label for="squid">イカ</label>
                        <input type="checkbox" class="Allergy" id="squid" value="9">
                    </td>
                    <td>
                        <label for="ikura">イクラ</label>
                        <input type="checkbox" class="Allergy" id="ikura" value="A">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="orange">オレンジ</label>
                        <input type="checkbox" class="Allergy" id="orange" value="B">
                    </td>
                    <td>
                        <label for="cashew">カシューナッツ</label>
                        <input type="checkbox" class="Allergy" id="cashew" value="C">
                    </td>
                    <td>
                        <label for="kiwi">キウイ</label>
                        <input type="checkbox" class="Allergy" id="kiwi" value="D">
                    </td>
                    <td>
                        <label for="beef">牛肉</label>
                        <input type="checkbox" class="Allergy" id="beef" value="E">
                    </td>
                    <td>
                        <label for="walnut">くるみ</label>
                        <input type="checkbox" class="Allergy" id="walnut" value="F">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="sesame">ごま</label>
                        <input type="checkbox" class="Allergy" id="sesame" value="G">
                    </td>
                    <td>
                        <label for="salmon">さけ</label>
                        <input type="checkbox" class="Allergy" id="salmon" value="H">
                    </td>
                    <td>
                        <label for="saba">さば</label>
                        <input type="checkbox" class="Allergy" id="saba" value="I">
                    </td>
                    <td>
                        <label for="soy">大豆</label>
                        <input type="checkbox" class="Allergy" id="soy" value="J">
                    </td>
                    <td>
                        <label for="chicken">鶏肉</label>
                        <input type="checkbox" class="Allergy" id="chicken" value="K">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="banana">バナナ</label>
                        <input type="checkbox" class="Allergy" id="banana" value="L"></td>
                    <td>
                        <label for="pork">豚肉</label>
                        <input type="checkbox" class="Allergy" id="pork" value="M">
                    </td>
                    <td>
                        <label for="matsutake">まつたけ</label>
                        <input type="checkbox" class="Allergy" id="matsutake" value="N">
                    </td>
                    <td>
                        <label for="peach">もも</label>
                        <input type="checkbox" class="Allergy" id="peach" value="O">
                    </td>
                    <td>
                        <label for="yamaimo">やまいも</label>
                        <input type="checkbox" class="Allergy" id="yamaimo" value="P">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="apple">りんご</label>
                        <input type="checkbox" class="Allergy" id="apple" value="Q">
                    </td>
                    <td>
                        <label for="gelatin">ゼラチン</label>
                        <input type="checkbox" class="Allergy" id="gelatin" value="R">
                    </td>
                </tr>
            </table>
        </div>

        <input type="submit" value="送信">

    </form>
</body>

</html>