body{
    background:#ffffff;
    font-family: Meiryo
}
<<<<<<< HEAD
canvas{
    font-size: 40px;
    background: #ffffff;
    color: #00008B;
}
=======
/*こんな感じでええよ
>>>>>>> 0aad047ab7c95133479afb953acdc0bb8d829076
